/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container-60{
    width: 60%;
    margin: 0 auto;
}

.bg-pink{
    background-color: #b91450;
}

.bg-gray{
    background-color: #808080;
}

.center{
    text-align: center;
}

h2{
    margin-top: 30px;
    margin-bottom: 30px;
    color: white;
    font-weight: 600;
    font-size: 40px;
}

label{
    color: #b91450;
    font-size: 20px;
    font-weight: 600;
}

.white-div{
    background-color: white;
    border-radius: 20px;
    padding: 20px;
}

input, select{
    border-radius: 5px;
    border-color: #b91450;
    background-color: transparent;
    padding: 5px;
    margin: 5px;
    font-size: 20px;
    font-weight: 600;
}

select{
    width: 50%;
}

button{
    background-color: #cccccc;
    border-color: #a7a7a7;
    color: #b91752;
    padding: 5px;
    border-radius: 5px;
    box-shadow: none;
    font-size: 20px;
    font-weight: 600;
}

button:hover{
    border-color: #e6954e;
}

.row{
    display: flex;
    flex-wrap: wrap;
}
.col{
    width: 100%;
}

.col-20{
    width: calc(100% / 5);
    text-align: left;
    padding: 20px;
}

.col-33{
    width: calc(100% / 3);
}

.padding-x120{
    padding-left:120px;
    padding-right: 120px;
}

.margin-y{
    margin-top: 20px;
    margin-bottom: 20px;
}

.mb-50{
    margin-bottom: 50px;
}

.color-black{
    color: black;
    text-align: left;
    margin-bottom: 10px;
    margin-top: 10px;
}

.border{
    border-top: 1px solid #808080;
    border-bottom: 1px solid #808080;
}